<a href="https://colab.research.google.com/github/olkasadova/data-and-python/blob/main/Copy_of_Interrogating_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Interrogating the dataframe
---

We use pandas to create dataframes from data sets in files or online tables.

Once we have the dataframe we might want to:  
*   display a subset of rows
*   *   we can do this using df.head(), df.tail() or df.iloc[index]
*   display a subset of columns
*   *   we can do this using the column name as the key, e.g.   
`                df['rain (mm)']`  
*   *   we can display more than one column, simply by listing the columns in the square brackets, e.g.   
`                df[['rain (mm)', 'tmin (degC)', 'sun (hours)']]`  
*   *   and can dislay a subset of rows for a subset of columns, e.g.  
 `               df[['rain (mm)', 'tmax (degC)']].head(10)`

### Exercise 1 - get the data, look at first 10 records
---


1.  Import the pandas library with the alias pd  
2.  Read the sheet with the name "Industry Migration" from the Excel file from this link: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true  (*Hint:  use pd.read_excel(url, sheet_name="Industry Migration") with the above url.*)
3.  display the first 10 rows of the data

In [ ]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name = "Industry Migration")

df.head(10)

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40
5,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,8,Telecommunications,676.91,676.11,365.96,283.59,281.91
6,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,9,Law Practice,694.50,529.50,362.83,356.56,147.83
7,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,10,Legal Services,661.10,665.65,462.30,475.62,255.21
8,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,11,Management Consulting,982.85,694.25,520.28,574.60,406.03
9,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,12,Biotechnology,1230.17,846.28,500.77,205.78,513.23

### Exercise 2 - display just two columns

Display the first 50 records focusing on the industries where migration is happening in each country (show just country_name and industry_name).

In [ ]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name = "Industry Migration")
df [["country_name", "industry_name"]]. head(50)

            country_name              industry_name
0   United Arab Emirates            Defense & Space
1   United Arab Emirates          Computer Hardware
2   United Arab Emirates          Computer Software
3   United Arab Emirates        Computer Networking
4   United Arab Emirates                   Internet
5   United Arab Emirates         Telecommunications
6   United Arab Emirates               Law Practice
7   United Arab Emirates             Legal Services
8   United Arab Emirates      Management Consulting
9   United Arab Emirates              Biotechnology
10  United Arab Emirates           Medical Practice
11  United Arab Emirates     Hospital & Health Care
12  United Arab Emirates            Pharmaceuticals
13  United Arab Emirates             Medical Device
14  United Arab Emirates                  Cosmetics
15  United Arab Emirates          Apparel & Fashion
16  United Arab Emirates             Sporting Goods
17  United Arab Emirates                    Tobacco
18  United Arab Emirates               Supermarkets
19  United Arab Emirates            Food Production
20  United Arab Emirates       Consumer Electronics
21  United Arab Emirates             Consumer Goods
22  United Arab Emirates                  Furniture
23  United Arab Emirates                     Retail
24  United Arab Emirates              Entertainment
25  United Arab Emirates  Leisure, Travel & Tourism
26  United Arab Emirates                Hospitality
27  United Arab Emirates                Restaurants
28  United Arab Emirates                     Sports
29  United Arab Emirates           Food & Beverages
30  United Arab Emirates     Motion Pictures & Film
31  United Arab Emirates            Broadcast Media
32  United Arab Emirates                    Banking
33  United Arab Emirates                  Insurance
34  United Arab Emirates         Financial Services
35  United Arab Emirates                Real Estate
36  United Arab Emirates         Investment Banking
37  United Arab Emirates      Investment Management
38  United Arab Emirates                 Accounting
39  United Arab Emirates               Construction
40  United Arab Emirates         Building Materials
41  United Arab Emirates    Architecture & Planning
42  United Arab Emirates          Civil Engineering
43  United Arab Emirates       Aviation & Aerospace
44  United Arab Emirates                 Automotive
45  United Arab Emirates                  Chemicals
46  United Arab Emirates                  Machinery
47  United Arab Emirates            Mining & Metals
48  United Arab Emirates               Oil & Energy
49  United Arab Emirates               Shipbuilding

### Exercise 3 - yearly migration

*   display the middle 20 records, showing the country_name and the migration for each of the years 2015 to 2019.
---

In [ ]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name = "Industry Migration")
middle_rows = int(df.shape [0]/2)
print (middle_rows)
df [["country_name", "industry_name","net_per_10K_2015", "net_per_10K_2016", "net_per_10K_2017", "net_per_10K_2018", "net_per_10K_2015"]]. iloc[middle_rows-10:middle_rows+10]

2647

,country_name,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2015
2637,India,E-Learning,-7.57,-15.53,-41.39,-58.19,-7.57
2638,India,Wholesale,-46.07,-84.82,-69.27,-112.88,-46.07
2639,India,Import & Export,-17.75,-9.88,-13.85,-17.02,-17.75
2640,India,Mechanical or Industrial Engineering,-46.50,-53.41,-38.84,-69.76,-46.50
2641,India,Photography,15.19,5.91,-67.67,-42.27,15.19
2642,India,Human Resources,-36.77,-72.50,-224.30,-108.44,-36.77
2643,India,Business Supplies & Equipment,-57.53,-50.04,-58.67,-98.15,-57.53
2644,India,Graphic Design,4.31,-29.11,-68.60,-60.27,4.31
2645,India,International Trade & Development,-60.63,-102.39,-130.02,-97.02,-60.63
2646,India,Wine & Spirits,-26.63,5.22,-29.57,-23.96,-26.63
2647,India,Luxury Goods & Jewelry,-31.78,-45.04,-86.56,-66.87,-31.78
2648,India,Renewables & Environment,24.01,27.84,-9.85,-29.43,24.01
2649,India,"Glass, Ceramics & Concrete",-17.74,-27.67,-19.57,-63.91,-17.74
2650,India,Packaging & Containers,-26.23,-21.12,-26.23,-40.06,-26.23
2651,India,Industrial Automation,-75.42,-71.15,-57.01,-95.02,-75.42
2652,India,Government Relations,-40.41,-2.47,-40.18,-70.58,-40.41
2653,Iraq,Defense & Space,290.14,396.01,175.95,396.23,290.14
2654,Iraq,Telecommunications,23.68,-148.03,-157.05,-87.85,23.68
2655,Iraq,Retail,-138.81,-662.75,-273.35,-109.23,-138.81
2656,Iraq,Hospitality,-718.56,-623.25,-446.93,-456.94,-718.56

### Exercise 4 - migration to and from
---

The Excel file at this link (which you have already opened above): https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true has three data sheets, "Country Migration", "Industry Migration" and "Skills Migration"

Open the data sheet "Country Migration" and display the first 10 records showing the country that migration was to, the country it was from and the net migration for each year from 2015 to 2019

In [ ]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name = "Country Migration")

df  [["base_country_name", "target_country_name","net_per_10K_2015", "net_per_10K_2016", "net_per_10K_2017", "net_per_10K_2018", "net_per_10K_2015"]].head(10)

,base_country_name,target_country_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2015
0,United Arab Emirates,Afghanistan,0.19,0.16,0.11,-0.05,0.19
1,United Arab Emirates,Algeria,0.19,0.25,0.57,0.55,0.19
2,United Arab Emirates,Angola,-0.01,0.04,0.11,-0.02,-0.01
3,United Arab Emirates,Argentina,0.16,0.18,0.04,0.01,0.16
4,United Arab Emirates,Armenia,0.10,0.05,0.03,-0.01,0.10
5,United Arab Emirates,Australia,-1.06,-3.31,-4.01,-4.58,-1.06
6,United Arab Emirates,Austria,0.11,-0.08,-0.07,-0.05,0.11
7,United Arab Emirates,Azerbaijan,0.24,0.25,0.10,0.05,0.24
8,United Arab Emirates,Bahrain,0.90,0.89,0.38,-0.07,0.90
9,United Arab Emirates,Bangladesh,-0.21,-0.21,-0.26,-0.18,-0.21

### Exercise 5 - unique countries

Using the "Country Migration" sheet, get all the unique country names from where people have migrated (base_country_name) and use a for loop to print a list of the countries.

In [ ]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name = "Country Migration")
df["base_country_name"].unique()

for country in df["base_country_name"].unique():
  print (country)

United Arab Emirates
Afghanistan
Albania
Armenia
Angola
Argentina
Austria
Australia
Azerbaijan
Bosnia and Herzegovina
Bangladesh
Belgium
Burkina Faso
Bulgaria
Bahrain
Benin
Bolivia
Brazil
Bahamas, The
Botswana
Belarus
Canada
Congo, Dem. Rep.
Switzerland
Cote d'Ivoire
Chile
Cameroon
China
Colombia
Costa Rica
Cuba
Cyprus
Czech Republic
Germany
Denmark
Dominican Republic
Algeria
Ecuador
Estonia
Egypt, Arab Rep.
Spain
Ethiopia
Finland
Fiji
France
Gabon
United Kingdom
Georgia
Ghana
Greece
Guatemala
Hong Kong SAR, China
Honduras
Croatia
Haiti
Hungary
Indonesia
Ireland
Israel
India
Iraq
Iran, Islamic Rep.
Iceland
Italy
Jamaica
Jordan
Japan
Kenya
Cambodia
Korea, Rep.
Kuwait
Kazakhstan
Lebanon
Sri Lanka
Lithuania
Luxembourg
Latvia
Libya
Morocco
Moldova
Madagascar
Macedonia, FYR
Mali
Myanmar
Mongolia
Malta
Mauritius
Malawi
Mexico
Malaysia
Mozambique
Namibia
Nigeria
Nicaragua
Netherlands
Norway
Nepal
New Zealand
Oman
Panama
Peru
Papua New Guinea
Philippines
Pakistan
Poland
Puerto Rico
West Bank and Gaza
Portugal
Paraguay
Qatar
Romania
Serbia
Rwanda
Saudi Arabia
Sudan
Sweden
Singapore
Slovenia
Slovak Republic
Senegal
El Salvador
Syrian Arab Republic
Togo
Thailand
Tunisia
Turkey
Trinidad and Tobago
Taiwan, China
Tanzania
Ukraine
Uganda
United States
Uruguay
Uzbekistan
Venezuela, RB
Vietnam
Yemen, Rep.
South Africa
Zambia
Zimbabwe

### Exercise 6 - how many countries are migrated to

Using the "Country Migration" sheet again, get all the unique country names to where people have migrated and display the number of unique countries.

In [ ]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name = "Country Migration")
countries = df["base_country_name"].unique()

print (len(countries))

140

### Exercise 7 - skill sets
---


Using the "Skill Migration" data sheet, display the following:
*  the first record
*  the last 10 records
*  records from index 500 to index 600  
*  a count of all unique countries
*  a list of all unique skill group categories
*  the first 50 rows, skill group names and net migration in 2019 only

In [12]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name = "Skill Migration")

df.head(1) #the first record
df.tail(10) #the last 10 records
df.iloc[500:600] #records from index 500 to index 600
df ["country_name"].unique() # a count of all unique countries

# a list of all unique skill group categories
skill_list = [""]
for skill in df ["skill_group_category"].unique():
  skill_list.append (skill)
print (skill_list)

#the first 50 rows, skill group names and net migration in 2019 only
df [["skill_group_name", "net_per_10K_2019"]].head (50)


#df

['', 'Tech Skills', 'Business Skills', 'Specialized Industry Skills', 'Disruptive Tech Skills', 'Soft Skills']

                          skill_group_name  net_per_10K_2019
0                   Information Management          -1208.79
1                   Operational Efficiency           -790.09
2                        National Security           -767.64
3                         Software Testing           -739.51
4                                     Navy           -718.64
5                        Materials Science           -717.73
6                             Criminal Law           -698.84
7                          Problem Solving           -696.16
8   Software Development Life Cycle (SDLC)           -692.24
9                            Cybersecurity           -640.96
10                     Enterprise Software           -625.19
11                       Water Engineering           -560.86
12                               Air Force           -553.91
13                           Documentation           -534.90
14                           Public Safety           -531.68
15                       People Management           -489.62
16                               Economics           -481.75
17               Administrative Assistance           -481.00
18                      Telecommunications           -470.25
19                   Management Consulting           -465.04
20                   Aerospace Engineering           -459.57
21                Environmental Consulting           -456.65
22                                Politics           -455.72
23                    Human Resources (HR)           -454.04
24                                     Law           -444.72
25                       Personal Coaching           -442.94
26                           Public Policy           -432.87
27                                 Writing           -429.40
28                        Payroll Services           -417.59
29                        Accounts Payable           -415.60
30                             Translation           -409.63
31                Corporate Communications           -407.53
32                             Bookkeeping           -406.50
33                       Technical Support           -405.87
34               Data Storage Technologies           -402.25
35                     Computer Networking           -401.17
36                         Social Services           -400.00
37                             Procurement           -381.75
38                Construction Engineering           -380.71
39                             Electronics           -379.37
40                        Entrepreneurship           -375.82
41                   System Administration           -375.25
42                Manufacturing Operations           -369.78
43                   Environmental Science           -369.71
44                       Growth Strategies           -364.60
45                    Nonprofit Management           -356.44
46         Employee Learning & Development           -353.67
47                               Machining           -347.71
48                              Recruiting           -339.42
49                      Emergency Medicine           -332.85

### Exercise 8 - total net migration over 5 years
---

Using the Country Migration data sheet, display the record at position 10.  Using the column names to access the data in each column, add the five columns containing the net migration data together to calculate the total net migration over the 5 years between 2015 and 2019.

In [18]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name = "Country Migration")

print(df.iloc [10]) #display the record at position 10

sum = df["net_per_10K_2015"].iloc[10] + df["net_per_10K_2016"].iloc[10] + df["net_per_10K_2017"].iloc[10] + df["net_per_10K_2018"].iloc[10] + df["net_per_10K_2019"].iloc[10]
print ("Net sum is: ", sum)

base_country_code                                   ae
base_country_name                 United Arab Emirates
base_lat                                     23.424076
base_long                                    53.847818
base_country_wb_income                     High Income
base_country_wb_region      Middle East & North Africa
target_country_code                                 by
target_country_name                            Belarus
target_lat                                   53.709807
target_long                                  27.953389
target_country_wb_income           Upper Middle Income
target_country_wb_region         Europe & Central Asia
net_per_10K_2015                                  0.12
net_per_10K_2016                                  0.12
net_per_10K_2017                                  0.11
net_per_10K_2018                                  0.12
net_per_10K_2019                                   0.1
Name: 10, dtype: object
Net sum is:  0.57

### Exercise 9 - formulating a text response

Using the Industry Migration data sheet, display the record at position 100.  Using the column names again to access the data in each column, calculate net migration over the 5 years from 2015 to 2019.

Then print the following message, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

In [23]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name = "Industry Migration")

print(df.iloc [100]) #display the record at position 100

sum = round(df["net_per_10K_2015"].iloc[100] + df["net_per_10K_2016"].iloc[100] + df["net_per_10K_2017"].iloc[100] + df["net_per_10K_2018"].iloc[100] + df["net_per_10K_2019"].iloc[100],1)

print ("The total net migration into ", df["country_name"].iloc[100], "of skilled workers for the ",  df["industry_name"].iloc[100], "industry, during the years 2015-2019 was ", sum)

country_code                                          ae
country_name                        United Arab Emirates
wb_income                                    High income
wb_region                     Middle East & North Africa
isic_section_index                                     K
isic_section_name     Financial and insurance activities
industry_id                                          129
industry_name                            Capital Markets
net_per_10K_2015                                 1345.11
net_per_10K_2016                                  483.35
net_per_10K_2017                                  606.94
net_per_10K_2018                                  735.88
net_per_10K_2019                                  240.44
Name: 100, dtype: object
The total net migration into  United Arab Emirates of skilled workers for the  Capital Markets industry, during the years 2015-2019 was  3411.7

### Exercise 10 - five text responses

Using the Industry Migration data sheet, calculate net migration (rounded to 1 decimal place) over the 5 years from 2015 to 2019 for the records at positions 1 to 5 and print the following message for each, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

*Hint: use a for loop to get a record and do each calculation*

In [28]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df = pd.read_excel(url, sheet_name = "Industry Migration")


for net in range (0, 5):

  sum = round(df["net_per_10K_2015"].iloc[net] + df["net_per_10K_2016"].iloc[net] + df["net_per_10K_2017"].iloc[net] + df["net_per_10K_2018"].iloc[net] + df["net_per_10K_2019"].iloc[net],1)
  print ("The total net migration into ", df["country_name"].iloc[net], "of skilled workers for the ",  df["industry_name"].iloc[net], "industry, during the years 2015-2019 was ", sum)

The total net migration into  United Arab Emirates of skilled workers for the  Defense & Space industry, during the years 2015-2019 was  632.9
The total net migration into  United Arab Emirates of skilled workers for the  Computer Hardware industry, during the years 2015-2019 was  903.9
The total net migration into  United Arab Emirates of skilled workers for the  Computer Software industry, during the years 2015-2019 was  3340.6
The total net migration into  United Arab Emirates of skilled workers for the  Computer Networking industry, during the years 2015-2019 was  1437.6
The total net migration into  United Arab Emirates of skilled workers for the  Internet industry, during the years 2015-2019 was  5458.2