<a href="https://colab.research.google.com/github/olkasadova/data-and-python/blob/main/Data_Analysis_Worksheets/4a_Filtering_data_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Filtering dataframe data

Interrogating dataframes
---

*   single column: `df['column']`
*   multiple columns: `df[['column1', 'column2']]`
*   filter rows by condition 	`df[df['column'] = condition]`  
*   filter by multiple conditions where both are true (AND)  
	`df[(df['column'] = condition1) & (df['column'] = condition2)]`  
*   filter by multiple conditions where one or other are true (OR)  
	`df[(df['column'] = condition1)  | (df['column'] = condition2)]`  

### Useful Functions

---

`head()`: will show the first 5 rows of the dataframe.  
`tail()`: same as head() but for the last 5 rows.  
`len()`: will show the length.  
`mode()`: will show the most common value in column.  
`mean()`: will show the average of the column.  
`sort_values()`: will sort the dataframe.

## Data Imports & Table Content

---

In this worksheet you will use data from a dataset in an Excel spreadsheet called public_use-talent-migration.xlsx. This spreadsheet file contains 3 sheets, each with related but different data on migration.   

Running the code below will create a dataframe from each of the 3 sheets and will display the column names and data types so that you can start to get an idea of what is in the data.

You can then use these dataframes in the exercises, rather than keep re-reading the original files. The 3 dataframes will be called:

*  skill_migration
*  industry_migration
*  country_migration

In [1]:
import pandas as pd

skill_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Skill Migration")
industry_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Industry Migration")
country_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Country Migration")

def get_summary(df):
  display(df.info())

get_summary(skill_migration)
get_summary(industry_migration)
get_summary(country_migration)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17617 entries, 0 to 17616
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country_code          17617 non-null  object
 1   country_name          17617 non-null  object
 2   wb_income             17617 non-null  object
 3   wb_region             17617 non-null  object
 4   skill_group_id        17617 non-null  int64
 5   skill_group_category  17617 non-null  object
 6   skill_group_name      17617 non-null  object
 7   net_per_10K_2015      17617 non-null  float64
 8   net_per_10K_2016      17617 non-null  float64
 9   net_per_10K_2017      17617 non-null  float64
 10  net_per_10K_2018      17617 non-null  float64
 11  net_per_10K_2019      17617 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 1.6+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5295 entries, 0 to 5294
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_code        5295 non-null   object
 1   country_name        5295 non-null   object
 2   wb_income           5295 non-null   object
 3   wb_region           5295 non-null   object
 4   isic_section_index  5295 non-null   object
 5   isic_section_name   5295 non-null   object
 6   industry_id         5295 non-null   int64
 7   industry_name       5295 non-null   object
 8   net_per_10K_2015    5295 non-null   float64
 9   net_per_10K_2016    5295 non-null   float64
 10  net_per_10K_2017    5295 non-null   float64
 11  net_per_10K_2018    5295 non-null   float64
 12  net_per_10K_2019    5295 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 537.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4148 entries, 0 to 4147
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   base_country_code         4148 non-null   object
 1   base_country_name         4148 non-null   object
 2   base_lat                  4148 non-null   float64
 3   base_long                 4148 non-null   float64
 4   base_country_wb_income    4148 non-null   object
 5   base_country_wb_region    4148 non-null   object
 6   target_country_code       4148 non-null   object
 7   target_country_name       4148 non-null   object
 8   target_lat                4148 non-null   float64
 9   target_long               4148 non-null   float64
 10  target_country_wb_income  4148 non-null   object
 11  target_country_wb_region  4148 non-null   object
 12  net_per_10K_2015          4148 non-null   float64
 13  net_per_10K_2016          4148 non-null   float64
 14  net_per_10K_2017          4148 non-null   float64
 15  net_per_10K_2018          4148 non-null   float64
 16  net_per_10K_2019          4148 non-null   float64
dtypes: float64(9), object(8)
memory usage: 551.0+ KB

None

# Exercise 1

---
\
Write a function that will take the `skill_migration` dataframe as a parameter and will:
*  filter for the rows where the `wb_income` contains `High income`.
*  return the number of rows (length of the dataframe).

In [7]:
def filter_income(df):
  # add code below to find the number of high income countries using the wb_income column
   High_income_list = df [df["wb_income"] == "High income"]
   return len (High_income_list)


#run test to see if you are getting the correct row length
actual = filter_income(skill_migration)
expected = 8904

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

Test passed!
Expected: 8904
Actual: 8904

# Exercise 2

---
\
Write a function that will take the `skill_migration` dataframe, and a particular type of `skill` (e.g. Tech skills) as parameters and will:
*  filter for the rows that have a `skill_group_category` equal to the given `skill`.
*  return the country that shows up the most in the `country_name` column of the filtered dataframe.

In [10]:
import pandas as pd

skill_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Skill Migration")

def filter_skills(df, skill):
  # add code below to find all rows that have the skill 'skill' and return the most common country (mode)
  Skill_filtered = df[df['skill_group_category'] == skill]
  return Skill_filtered ["country_name"].mode()


#run test to see if you are getting the most frequent country name
tests = [
    { "id": 1, "actual": filter_skills(skill_migration, "Tech Skills")[0], "expected": "Australia" },
    { "id": 2, "actual": filter_skills(skill_migration, "Business Skills")[0], "expected": "Australia" },
    { "id": 3, "actual": filter_skills(skill_migration, "Specialized Industry Skills")[0], "expected": "United Kingdom" }
]

for test in tests:
  if test["actual"] == test["expected"]:
    print("Test {} passed!\nExpected: {}\nActual: {}\n".format(test["id"], test["expected"], test["actual"]))
  else:
    print("Test {} failed!\nExpected: {}\nActual: {}\n".format(test["id"], test["expected"], test["actual"]))

Test 1 passed!
Expected: Australia
Actual: Australia

Test 2 passed!
Expected: Australia
Actual: Australia

Test 3 passed!
Expected: United Kingdom
Actual: United Kingdom

# Exercise 3

---
\
Write a function that will take the `skill_migration` dataframe as a parameter and will:
*  filter, using two conditions, for the rows where `skill_group_id` is `2265` and `net_per_10K_2019` is greater than `-500`.
*  sort the rows in ascending order based on `net_per_10K_2019`
*  return the first 5 rows.

In [39]:
import pandas as pd

skill_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Skill Migration")

def filter_skill_id(df):
  # add code below to find all rows that the skill id 2265 with greater than -500 migration and return the first 5 rows when sorted into order of net_per_10K_2019
  filtered_list = df [(df["skill_group_id"] == 2265) & (df ["net_per_10K_2019"]> -500)]

  sorted = filtered_list.sort_values(["net_per_10K_2019"], ascending= True).head(5)
  return sorted


#run test to see if you are getting the correct first row and only returning 5 items
filtered_df = filter_skill_id(skill_migration)
actual1 = filtered_df.index[0]
expected1 = 14550
actual2 = len(filtered_df)
expected2 = 5

if actual1 == expected1 and actual2 == expected2:
  print("Test passed!\nExpected: {} & {}\nActual: {} & {}".format(expected1, expected2, actual1, actual2))
else:
  print("Test failed!\nExpected: {} & {}\nActual: {} & {}".format(expected1, expected2, actual1, actual2))

Test passed!
Expected: 14550 & 5
Actual: 14550 & 5

# Exercise 4

---
\
Write a function that will take the country_migration dataframe and an amount of net per 10K migrations as parameters and will:
*  filter for all rows with a `net_per_10K_2019` less than `amount`
*  return the number of rows.

In [41]:
def filter_net_per_10k(df, amount):
  # add code below to find all the rows where the net_per_10K_2019 is less than the `amount` parameter
  filtered_rows = df [df ["net_per_10K_2019"]< amount]
  return len(filtered_rows)


#run test to see if you are getting the correct first row and only returning 5 items
tests = [
    { "id": 1, "actual": filter_net_per_10k(country_migration, 100), "expected": 4148 },
    { "id": 2, "actual": filter_net_per_10k(country_migration, 0), "expected": 1980 },
    { "id": 3, "actual": filter_net_per_10k(country_migration, -100), "expected": 0 }
]

for test in tests:
  if test["actual"] == test["expected"]:
    print("Test {} passed!\nExpected: {}\nActual: {}\n".format(test["id"], test["expected"], test["actual"]))
  else:
    print("Test {} failed!\nExpected: {}\nActual: {}\n".format(test["id"], test["expected"], test["actual"]))

Test 1 passed!
Expected: 4148
Actual: 4148

Test 2 passed!
Expected: 1980
Actual: 1980

Test 3 passed!
Expected: 0
Actual: 0

# Exercise 5

---
\
Write a function that will take the `country_migration` dataframe as a parameter and will:
*  filter for all rows where both `net_per_10K_2015` and `net_per_10K_2016` values are greater than `50`.
*  return the number of rows

In [42]:
def filter_two_net(df):
  # add code below to find rows which have migration in 2015 & 2016 greater than 50
  filtered_rows = df [(df["net_per_10K_2015"]>50)& (df["net_per_10K_2016"]>50)]
  return len(filtered_rows)


#run test to see if you are getting the correct length of rows
actual = filter_two_net(country_migration)
expected = 3

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

Test passed!
Expected: 3
Actual: 3

# Exercise 6

---
\
Write a function that will take the `country_migration` dataframe as a parameter and will:
*  filter for all migrations from countries with `Low Income` to countries with `Upper Middle Income`and within the same region ( `base_country_wb_region` is the same as `target_country_wb_region`)
*  display the number of rows.

In [44]:
def filter_two_income(df):
  # add code below to find all rows of migration from low income to upper middle income and where migration was to the same region
  low_income_to_upper = df [(df ["base_country_wb_income"]=="Low Income") & (df ["target_country_wb_income"]== "Upper Middle Income")]
  same_region = low_income_to_upper [low_income_to_upper ["base_country_wb_region"]==low_income_to_upper ["target_country_wb_region"]]
  return len (same_region)


#run test to see if you are getting the correct first length of rows
actual = filter_two_income(country_migration)
expected = 15

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

Test passed!
Expected: 15
Actual: 15

# Exercise 7

---
\
Write a function that will take the `industry_migration` dataframe as a parameter and will:
*  filter for all rows which have a `isic_section_index` of `M` and the `industry_name`,  `Biotechnology`
*  return the number of rows.

In [50]:
def filter_industry(df):
  # add code below to find all the rows from biotechnology industry with isic section index of M
  filtered_data = df [(df["isic_section_index"]== "M") & (df["industry_name"]== "Biotechnology")]
  return len(filtered_data)


#run test to see if you are getting the correct length of rows
actual = filter_industry(industry_migration)
expected = 32

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

Test passed!
Expected: 32
Actual: 32

# Exercise 8

---
\
Write a function that will take the `industry_migration` dataframe as a parameter and will:
*  filter for all rows with `industry_name` of `Computer Software` that have a `wb_income` of `Low income`.
*  return the filtered dataframe

In [51]:
def filter_industry_income(df):
  # add code below to find Low Income Computer Software migrations, return the full set of filtered data
  filtered_data = df [(df ["industry_name"]== "Computer Software") & (df ["wb_income"]== "Low income")]
  return filtered_data


#run test to see if you are getting the correct first row and only returning 1 item
filtered_df = filter_industry_income(industry_migration)
actual1 = filtered_df.index[0]
expected1 = 3699
actual2 = len(filtered_df)
expected2 = 1

if actual1 == expected1 and actual2 == expected2:
  print("Test passed!\nExpected: {} & {}\nActual: {} & {}".format(expected1, expected2, actual1, actual2))
else:
  print("Test failed!\nExpected: {} & {}\nActual: {} & {}".format(expected1, expected2, actual1, actual2))

Test passed!
Expected: 3699 & 1
Actual: 3699 & 1

# Exercise 9

---
\
Write a function that will take the `industry_migration` dataframe as a parameter and will:
*  filter for all rows with `country_name` of United States or United Kingdom and a `isic_section_index` of M
*  return the average of `net_per_10K_2015`.

In [65]:
def filter_country(df):
  # add code below to find all USA and UK rows which have ISIC of M and return mean migration in 2015
  filtered_US_UK = df [((df["country_name"]== "United States")|(df["country_name"]== "United Kingdom")) & (df["isic_section_index"]== "M")]

  return filtered_US_UK ["net_per_10K_2015"].mean ()


#run test to see if you are getting the correct average
actual = round(filter_country(industry_migration), 2)
expected = 47.28

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

47.280888888888875
Test passed!
Expected: 47.28
Actual: 47.28

# Exercise 10
---
\
Write a function that will take the `country_migration` dataframe and a base region as paramters and will:
*  filter for all migrations to Upper Middle Income and High Income regions (`target_country_wb_income`) from the given region (`base_country_wb_region`)

In [75]:
def filter_migrations(df, region):

  filtered_region = df[((df["target_country_wb_income"]=="Upper Middle Income")|(df["target_country_wb_income"]=="High Income"))& (df ["base_country_wb_region"]== region)]
  print (filtered_region)
  return len(filtered_region)

# run test to see if you are getting the correct result
actual = filter_migrations(country_migration, "Middle East & North Africa")
expected = 432
if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

     base_country_code     base_country_name   base_lat  base_long  \
1                   ae  United Arab Emirates  23.424076  53.847818
3                   ae  United Arab Emirates  23.424076  53.847818
4                   ae  United Arab Emirates  23.424076  53.847818
5                   ae  United Arab Emirates  23.424076  53.847818
6                   ae  United Arab Emirates  23.424076  53.847818
...                ...                   ...        ...        ...
3670                tn               Tunisia  33.886917   9.537499
4061                ye           Yemen, Rep.  15.552727  48.516388
4062                ye           Yemen, Rep.  15.552727  48.516388
4063                ye           Yemen, Rep.  15.552727  48.516388
4064                ye           Yemen, Rep.  15.552727  48.516388

     base_country_wb_income      base_country_wb_region target_country_code  \
1               High Income  Middle East & North Africa                  dz
3               High Income  Middle East & North Africa                  ar
4               High Income  Middle East & North Africa                  am
5               High Income  Middle East & North Africa                  au
6               High Income  Middle East & North Africa                  at
...                     ...                         ...                 ...
3670    Lower Middle Income  Middle East & North Africa                  us
4061             Low Income  Middle East & North Africa                  my
4062             Low Income  Middle East & North Africa                  sa
4063             Low Income  Middle East & North Africa                  ae
4064             Low Income  Middle East & North Africa                  us

       target_country_name  target_lat  target_long target_country_wb_income  \
1                  Algeria   28.033886     1.659626      Upper Middle Income
3                Argentina  -38.416097   -63.616672              High Income
4                  Armenia   40.069099    45.038189      Upper Middle Income
5                Australia  -25.274398   133.775136              High Income
6                  Austria   47.516231    14.550072              High Income
...                    ...         ...          ...                      ...
3670         United States   37.090240   -95.712891              High Income
4061              Malaysia    4.210484   101.975766      Upper Middle Income
4062          Saudi Arabia   23.885942    45.079162              High Income
4063  United Arab Emirates   23.424076    53.847818              High Income
4064         United States   37.090240   -95.712891              High Income

        target_country_wb_region  net_per_10K_2015  net_per_10K_2016  \
1     Middle East & North Africa              0.19              0.25
3      Latin America & Caribbean              0.16              0.18
4          Europe & Central Asia              0.10              0.05
5            East Asia & Pacific             -1.06             -3.31
6          Europe & Central Asia              0.11             -0.08
...                          ...               ...               ...
3670               North America              1.69             -0.29
4061         East Asia & Pacific              0.68             -3.00
4062  Middle East & North Africa            -10.27             -5.38
4063  Middle East & North Africa             -3.85             -2.04
4064               North America              4.19              0.75

      net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
1                 0.57              0.55              0.78
3                 0.04              0.01              0.23
4                 0.03             -0.01              0.02
5                -4.01             -4.58             -4.09
6                -0.07             -0.05             -0.16
...                ...               ...               ...
3670             -1.89              0.66             -0.22
4061             -0.83             -0.63              0.86
4062             -3.55             -2.48             -1.72
4063             -1.30             -0.58             -1.54
4064             -0.06              0.79              1.09

[432 rows x 17 columns]
Test passed!
Expected: 432
Actual: 432

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer: filtering data by diffirent value and combination of value in various column

## What caused you the most difficulty?

Your answer: being careful in different brackets in ex 9,10; also had several mistake when copying names of columns and values.