<a href="https://colab.research.google.com/github/olkasadova/data-and-python/blob/main/Data_Analysis_Worksheets/Data_Investigation_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data investigation project
---

Use what you have learnt so far about reading data files and displaying rows, columns, unique values, etc, to investigate and produce some printed information from this data set: https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv

In [19]:
import pandas as pd
url = 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'
df = pd.read_csv(url)

#display first 50 rows
#display last 10 rows
# display list of unique areas and calculate number of unique areas
# display areas with population more than 1 million (area, population size)
#calculate how many large areas are in the dataset

df.head(50)
df.tail(10)
print (df ["area"].unique ())

print ("Number of unique areas is: ",len(df ["area"].unique ()))

large_areas = [""]
for area in range (0, 100):
  if df ["population_size"].loc[area] > 1000000:
    large_areas.append(df[["area", "population_size"]].iloc [area])

print ("Number of areas with more than 1 million population: ", len(large_areas))

print (large_areas)

['city of london' 'barking and dagenham' 'barnet' 'bexley' 'brent'
 'bromley' 'camden' 'croydon' 'ealing' 'enfield' 'greenwich' 'hackney'
 'hammersmith and fulham' 'haringey' 'harrow' 'havering' 'hillingdon'
 'hounslow' 'islington' 'kensington and chelsea' 'kingston upon thames'
 'lambeth' 'lewisham' 'merton' 'newham' 'redbridge' 'richmond upon thames'
 'southwark' 'sutton' 'tower hamlets' 'waltham forest' 'wandsworth'
 'westminster' 'north east' 'north west' 'yorkshire and the humber'
 'east midlands' 'west midlands' 'east' 'london' 'south east' 'south west'
 'inner london' 'outer london' 'england' 'united kingdom' 'great britain'
 'england and wales' 'northern ireland' 'scotland' 'wales']
Number of unique areas is:  51
Number of areas with more than 1 million population:  35
['', area               north east
population_size     2550314.0
Name: 33, dtype: object, area               north west
population_size     6773115.0
Name: 34, dtype: object, area               yorkshire and the humber
population_size                   4956325.0
Name: 35, dtype: object, area               east midlands
population_size        4152443.0
Name: 36, dtype: object, area               west midlands
population_size        5271959.0
Name: 37, dtype: object, area                    east
population_size    5338722.0
Name: 38, dtype: object, area                  london
population_size    7153912.0
Name: 39, dtype: object, area               south east
population_size     7955124.0
Name: 40, dtype: object, area               south west
population_size     4880958.0
Name: 41, dtype: object, area               inner london
population_size       2750716.0
Name: 42, dtype: object, area               outer london
population_size       4403196.0
Name: 43, dtype: object, area                  england
population_size    49032872.0
Name: 44, dtype: object, area               united kingdom
population_size        58684427.0
Name: 45, dtype: object, area               great britain
population_size       57005421.0
Name: 46, dtype: object, area               england and wales
population_size           51933471.0
Name: 47, dtype: object, area               northern ireland
population_size           1679006.0
Name: 48, dtype: object, area                scotland
population_size    5071950.0
Name: 49, dtype: object, area                   wales
population_size    2900599.0
Name: 50, dtype: object, area               north east
population_size     2543421.0
Name: 84, dtype: object, area               north west
population_size     6774223.0
Name: 85, dtype: object, area               yorkshire and the humber
population_size                   4958609.0
Name: 86, dtype: object, area               east midlands
population_size        4168076.0
Name: 87, dtype: object, area               west midlands
population_size        5269626.0
Name: 88, dtype: object, area                    east
population_size    5374972.0
Name: 89, dtype: object, area                  london
population_size    7236712.0
Name: 90, dtype: object, area               south east
population_size     7990598.0
Name: 91, dtype: object, area               south west
population_size     4917074.0
Name: 92, dtype: object, area               inner london
population_size       2804949.0
Name: 93, dtype: object, area               outer london
population_size       4431763.0
Name: 94, dtype: object, area                  england
population_size    49233311.0
Name: 95, dtype: object, area               united kingdom
population_size        58886065.0
Name: 96, dtype: object, area               great britain
population_size       57203121.0
Name: 97, dtype: object, area               england and wales
population_size           52140181.0
Name: 98, dtype: object, area               northern ireland
population_size           1682944.0
Name: 99, dtype: object]